
/************** RESET **************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/************** PROPRIETÀ CONDIVISE **************/

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-center-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;    
    row-gap: 10px;
}

.border {
    border: 2px dashed black;
}

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}

.bg-orange {background-color: orange;}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-white {
    color: white;
}

.text-purple {
    color: #737cdd;
}


button {
    padding: 1em;
    border: none;
    border-radius: 40px;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    color: #2231B4;
    box-shadow: 0 8px 29.5px -7px #000000;
}

.margin-left {
    margin-left: 16px;
}

.margin-right {
    margin-right: 16px;
}

.margin-bottom {
    margin-bottom: 4em;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

span {
    color: white;
}

/************** HEADER **************/
/* MENÙ */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bg-menù {
    min-height: 5em;
}

#container-menù {
    min-height: 3em;
    padding: 1em;
    width: 100em;
}

.col20 {
    min-height: 3em;
    width: 20%;
}

.col60 {
    min-height: 3em;
    width: 60%;
}

#accedi {
    background-color: white;
}

/* BANNER HEADER*/

#bg-banner-header {
    min-height: 31em;
}

#container-banner-header {
    min-height: 25em;
    width: 56em;
}

#apri-discord {
    color: white;
    background-color: black;
    padding: 1.5em;
}

#scarica {
    background-color: white;
    padding: 1.5em;
}


/************** MAIN **************/
/* PROPRIETÀ */

.container-banner {
    min-height: 37em;
    width: 100%;
}

.container-banner-big {
    min-height: 62em;
    width: 100%;
}

.bg-white {
    min-height: 37em;
    background-size: contain;
    background-color: #ffffff;
}

.bg-gray {
    background-color: #CCCCCC;
    min-height: 37em;
}

.bg-wave {
    background-image: url(../img/wave.svg);
    display: block;
    opacity: 0.2;
    width: 100%;
}

.bg-wave-rotated {
    background-image: url(../img/wave.svg);
    display: block;
    transform: rotate(180deg);
    opacity: 0.2;
    width: 100%;
}

.blue {
    background-color: #1E90FF;
    min-height: 31em;
    width: calc(100% / 3 * 2);
}

.pink {
    background-color: #EE82EE;
    min-height: 31em;
    width: calc(100% / 3);
}

.green {
    background-color: #228B22;
    min-height: 55em;
    width: 100%;
}

#margin-item {
    margin-bottom: 0.5em;
}

#stars {
    width: 70%;
}

#scarica-button2 {
    color: white;
    background-color: #8c95f3;
    padding: 1.5em;
}


/************** FOOTER **************/
/* PROPRIETÀ CONDIVISE FOOTER */

.container-footer {
    min-height: 30em;
    width: 100%;
}

.bg-black {
    background-color: #23272A;
    min-height: 32em;
}

.aquamarine {
    min-height: 25em;
    width: calc(100% / 3 * 2);
}

.red {
    min-height: 25em;
    width: calc(100% / 3);
}

.border-white {
    border: 2px dashed rgb(255, 255, 255);
}

hr {
    color: #7E86EA;
}

.footer-text {
    padding: 0.5em;
    background-color: #F08080;
}

/* FOOTER ID */

#ita {
    width: 2em;
}

.icone {
    margin-right: 1.5em;
}

#border-bottom {
    border-bottom: 1px solid #7E86EA;
}

#bg-black-footer {
    min-height: 6.75em;
    background-color: #23272A;
}

#container-menù-footer {
    min-height: 4em;
    width: 100em;
}